<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="UTF-8"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title>React</title>
        <link>
    </head>
    <body>
        <div id="app"></div>
        <% if (webpackConfig.mode == 'production') { %>
        <script src="https://unpkg.com/react@17/umd/react.production.min.js" integrity="sha384-7Er69WnAl0+tY5MWEvnQzWHeDFjgHSnlQfDDeWUvv8qlRXtzaF/pNo18Q2aoZNiO" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.production.min.js" integrity="sha384-vj2XpC1SOa8PHrb0YlBqKN7CQzJYO72jz4CkDQ+ePL1pwOV4+dn05rPrbLGUuvCv" crossorigin="anonymous"></script>
        <% } else { %>
        <script src="https://unpkg.com/react@17/umd/react.development.js" integrity="sha384-xQwCoNcK/7P3Lpv50IZSEbJdpqbToWEODAUyI/RECaRXmOE2apWt7htari8kvKa/" crossorigin="anonymous"></script>
        <script src="https://unpkg.com/react-dom@17/umd/react-dom.development.js" integrity="sha384-E9IgxDsnjKgh0777N3lXen7NwXeTsOpLLJhI01SW7idG046SRqJpsW2rJwsOYk0L" crossorigin="anonymous"></script>
        <% } %>
    </body>
</html>
